{% extends 'layout/_root.html' %}

{% load vite_static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% get_static_file 'libs/animate.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% get_static_file 'home/style.css' %}" />
  <script type="module" src="{% get_static_file 'home/index.js' %}"></script>
  <title>Ecommerce | Home</title>
{% endblock %}

{% block main %}
  <section class="carousel slide" id="hero-section">
    <div class="carousel-indicators">
      {% for hero in heroes %}
        <button type="button" data-bs-target="#hero-section" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %}{{ 'active' }}{% endif %}" aria-current="true" aria-label="{{ hero.image }}"></button>
      {% endfor %}
    </div>

    <div class="carousel-inner">
      {% for hero in heroes %}
        <div class="carousel-item {% if forloop.counter == 1 %}{{ 'active' }}{% endif %}">
          <img src="{% get_static_file 'home/hero-section/images' %}/{{ hero.image }}" class="m-0 min-vw-100 min-vh-100 hero-img" alt="slide" />
          <div class="carousel-caption h-100 d-flex justify-content-center align-items-center hero-text">
            <div>
              <p class="subtitle animated animate__animated animate__fadeInUp">{{ hero.subtitle }}</p>
              <h1 class="animated animate__animated animate__fadeInUp animation-duration-300ms">{{ hero.heading }}</h1>
              <div class="hero-btns animated animate__animated animate__fadeInUp animation-duration-500ms">
                <a href="/shop" class="btn btn-warning boxed-btn">Visit Shop</a>
                <a href="{% url 'contact-page' %}" class="btn btn-outline-warning bordered-btn">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-section" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-section" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>

  <section class="features-section">
    <div class="container">
      <div class="row py-5">
        {% for feature in features %}
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="d-flex align-items-center" style="padding: 30px;">
              <h1 class="text-warning fs-1 fw-bolder me-3"><i class="{{ feature.iconClass }}"></i></h1>
              <span>
                <h5 class="fw-semibold m-0 mb-1">{{ feature.name }}</h5>
                <p class="text-muted fw-light">{{ feature.description }}</p>
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
