{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    {% if debug %}
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/static/main.js"></script>
    {% endif %}
    {% block head %}

    {% endblock %}
  </head>
  <body>
    {% block content %}

    {% endblock %}
    {% block script %}

    {% endblock %}
  </body>
</html>
