{% extends 'layout/_base.html' %}
{% load static %}

{% load breadcrumb %}

{% block head %}
  {% if debug %}
    <script type="module" src="http://localhost:5173/static/shared/navbar/index.js"></script>
    <script type="module" src="http://localhost:5173/static/shared/layout/_shop.css"></script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="fixed-top">
    {% include 'components/navbar.html' %}
  </div>

  <div class="container-fluid bg-secondary pb-2 pb-5 page-title">
    {% build_breadcrumb_dict request alias as breadcrumb_dict %}
    {% get_page_title breadcrumb_dict as page_title %}

    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h2 class="fw-semibold text-uppercase mb-3">{{ page_title }}</h2>
      <div class="d-inline-flex">
        <ol class="breadcrumb ps-1 pb-3" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
          {% for page, path in breadcrumb_dict.items %}
            {% if page != page_title %}
              <li class="breadcrumb-item">
                <a class="link-primary fw-semibold text-decoration-none" href="{{ path }}">
                  {% if page == 'root' %}
                    {{ 'Home' }}
                  {% else %}
                    {{ page|title }}
                  {% endif %}
                </a>
              </li>
            {% else %}
              <li class="breadcrumb-item active" aria-current="page">{{ page|title }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
  {% block main %}

  {% endblock %}
  {% include 'components/footer.html' %}
{% endblock %}
